* {
    background-color: #363062;
    margin: 0%;
    padding: 0%;
    font-family: 'DS-Digital', sans-serif;
}

h1, h2, h3 {
    color: #F5F5F5;
    text-align: center;
    margin: 2rem;
}
h1{
    font-size:50px;
    font-weight: bold;
}

.container {
    display: grid;
    gap: 30px;
    justify-content: center;
}

.btn {
    background-color: aliceblue;
    width: 10rem;
    height: 10rem;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 0.2);
    cursor: pointer;
}

.btn:hover {
    box-shadow: 5px 5px rgb(0 0 0 / 1);
}

#red {
    background-color: red;
    grid-column: 2/3;
}

#green {
    background-color: green;
    grid-column: 1/2;
}

#yellow {
    background-color: yellow;
}

#blue {
    background-color: blue;
}

button {
    margin: 10px;
    height: 30px;
    width: 100px;
    background-color: #F99417;
    color:#F5F5F5;

}
button:hover{
    background-color: #F5F5F5;
    color: black;
    transition: 0.5s;
}

.btnFlex {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-height: 10px;
    background-color: #363062;
}
